/* postcss-extend-rule plugin */
%thick-border {
	border: thick dotted red;
}

.serious-modal {
	font-style: normal;
	font-weight: bold;

	@media (max-width: 240px) {
		@extend .modal:hover;
	}
}

.modal {
	@extend %thick-border;

	color: red;
}

.modal:hover:not(:focus) {
	outline: none;
}
